<div class="container text-center">
    <div class="row mt-4">
        <div class="col-lg-4">
            <img src="/assets/image/mat 1.jpg" alt="">
        </div>
        <div class="col-lg-4">
            <img src="/assets/image/history of english.jpg" alt="">
        </div>
        <div class="col-lg-4">
            <img src="/assets/image/temp (1).jpg" alt="">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-4">
            <img src="/assets/image/mat2.jpg" alt="">
        </div>
        <div class="col-lg-4">
            <img src="/assets/image/mat3.jpg" alt="">
        </div>
        <div class="col-lg-4">
            <img src="/assets/image/ssssss.jpg" alt="">
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-lg-4">
            <img src="/assets/image/kovil12.jpg" alt="">
        </div>
        <div class="col-lg-4">
            <img src="/assets/image/matha3.jpg" alt="">
        </div>
        <div class="col-lg-4">
            <img src="/assets/image/dhurga bhadrakali.jpg" alt="">
        </div>
    </div>

</div>