<div class="container-fluid p-3  ">
    <div class="row ">
        <div class="col">
            <h1 style="font-family: fantasy;">Contact us</h1>
            <h2> Sree Durga Bhadrakali Dhevasthanam
                Piracode Pamakulagara Adaikkakuzhi (p.o)</h2>
            <h6>Reg.No-52/2015</h6>
            <p>Contact:-9600500325</p>
            <div class="col">
                <a href="https://www.facebook.com/profile.php?id=100068383413310&mibextid=ZbWKwL"><i
                    class="fa-brands fa-facebook text-primary fa-3x mt-5 p-3"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp text-success fa-3x mt-5 p-3 "></i></a>
                    <a href=""><i class="fa-brands fa-instagram text-dark fa-3x mt-5  p-3"></i></a>
                
                    <a href="https://maps.app.goo.gl/sZJ8ZuzHf42gmqe46"><i class="fa-solid fa-location-pin fa-3x p-3"></i></a>
              </div>
            





        </div>
        <div class="col">
            <div class="photo ms-5">
                <img src="assets/image/kovil last pic.jpg" alt="">
            </div>
           
        </div>

    </div>
    <div class="row">
        <div class="col">
            <p>Choozhal, Krishnapuram, Piracode is located nearly 60 km from Kanyakumari and 40 km from Trivandrum. It
                is considered[by whom?] as one of the extreme border of Kerala, India.</p>
            <p>It comes under Munchirai Municipality. It consists of a lot of Churches and Temples among them are
                Choozhal-Piracode Sree Krishna Swamy Temple, Pammakkulangara <b>Sree Bhadrakali Temple (Famous for
                    Iratta
                    Ponkala)</b>, Madathu Nada Sree Dharma Shastha Temple, St Little Flower Msc Church, St Joseph Msc
                Church,St
                Thomas MSC church Ambilikonam, St Micheal's Church Choozhal,</p>

            <p>Choozhal is situated just 4 km from Parassala Kerala and 6 km from Kaliyakkavilai Tamil Nadu. Well
                connected with bus, rail and air. Nearest Railway Station, Parassala situated just 4 km (Approximate)
                away from Choozhal. Its coordinates are : 8°19'9"N 77°7'43"E in wikimapia.India and the Time Zone is
                UTC+5:30 (IST)</p>

        </div>

    </div>

</div>