<div class="container mt-5">
    <div class="row">
        <div class="col">
            <img src="/assets/image/history of english.jpg" alt="">
            <h3>HISTORY OF THE TEMPLE</h3>
            <p>The Panmakkulangara Sri Durga Prakali Devasthanam is situated on the eastern side of Gangshan, where
                Katti
                Nikra is located, while travelling about 5 km from Kaliyikkavila to Kollencode in Vilavancode taluk of
                Kannyakumari district. 2. That is why the Indu Pongal Mahotsava is held here. The four sides of this
                temple are surrounded by Loya. The eastern part is Padmakulam, the south

                Maintained by famous and learned Brahmins about 600 years ago – this temple was maintained by the
                Kshatriyas centuries later. During those periods, the region was famous for its divine spirit. The place
                was blessed and prosperous with the presence of God, by the presence of God, by the hand, and by the
                great ones. In addition, the palace became a historic one for its craftsmanship and the arrival of Sree
                Narayana Guru, even though it was the month in which medicine lived. from this palace.

            </p>

            <P>11. Jasta, Lord Vishnu worshipped Lord Shiva and Tapati Subramanya. What if

                After being under the supervision of the Kshatriyas, they also worshipped Cole, but

                After many years, the temple is seasonal and has deteriorated due to which some

                The people concerned had the likes and dislikes. Therefore 19 03 2005 famous

                Jateerastra Pio Perumbazhuthur Gopalanasan, Palkulangara Pathipotti

                Ashtamangala Devasthanam led by Konchi Vasu Asan

                It was done. Sri Edavattom Baba then followed all the rules of the deity.</P>




            <div class="photo">
                <img src="/assets/image/english 2.jpg" alt="">
            </div>

            <P>Constructed (on the 16th of the month of Meena in the year 1182) on March 30, 2007. 16 dated Capricorn

                According to the tantric ruling in the nakshatra, tantrimukhan Brahmasree Narayana Potti of

                The consecration was performed in karmicattva. Here with the presence of God

                It's s. To maintain this comfort, brotherhood and tone in the waters.</P>
            <div class="End photo">

                <img src="/assets/image/vilakk.jpg" alt="">
                <div class="mt-5">
                    <img src="/assets/image/kovil last pic.jpg" alt="">
                </div>

            </div>
        </div>
        <div class="col ">
            <img src="/assets/image/dhurga bhadrakali.jpg" alt="">
            <div class="history of temple">
                <h3>ക്ഷേത്രചരിത്രം</h3>
                <p>കന്യാകുമാരി ജില്ല വിളവങ്കോട് താലൂക്കിൽ കളിയിക്കാവിൽ നിന്നും കൊല്ലങ്കോട് പോകുന്ന ദേശീയപാതയില്‍ ഏകദേശം 5
                    കിലോമീറ്റർ സഞ്ചരിക്കുമ്പോൾ കാട്ടി നികൃഷ സ്ഥിതിചെയ്യുന്ന ഗംഗ്ഷനിൽ നിന്നും കിഴക്ക് ഭാഗത്തായി
                    സ്ഥിതിചെയ്യുന്നതാണ് പിറക ് കുളങ്ങര ശ്രീ ദുർഗ്ഗാ പ്രകാളി ദേവസ്ഥാനം ഇവിടെ ദുർഗ്ഗാദേവിയും, കാളിഡിയും
                    തുല്യപ്രാധാന്യത്തോടുകൂടി ഒന്നുപോലുള്ള ഓരോ ക്ഷേത്രങ്ങളിൽ കുടിയിരിക്കുന്നു. 2. അതിനാലാണ് ഇവിടെ
                    ഇണ്ടുപൊങ്കാല മഹോത്സവം നടക്കുന്നത്. ഈ ക്ഷേത്രത്തിലെ നാല് വശവും ലോയയാൽ ചുറ്റപ്പെട്ടിരിക്കുന്നു.
                    കിഴക്ക് ഭാഗം പത്മകുളവും, തെക്ക് ഭാഗം എറക്കും വടക്ക് ഭാഗം പുരാതനമായ കാവിനോടു ചേർന്നുള്ള കാവുകുളവും
                    പടിഞ്ഞാറ് ഭാഗം ജലം ഒഴുകി പോകുന്ന തോടിനാലും വലയം ചെയ്തിരിക്കുന്നു.

                    പ്രശസ്തരും പണ്ഡിതരുമായ ബ്രാഹ്മണമാൽ ഏകദേശം 600 ൽപരം വർഷങ്ങൾക്ക് മുമ്പ് - പരിപാലിച്ചിരുന്ന ഈ ക്ഷേത്രം
                    നൂറ്റാണ്ടുകൾക്ക് ശേഷം ക്ഷത്രിയമാൽ പരിപാലിക്കപ്പെട്ടു വന്നു. ആ കാലഘട്ടങ്ങളിൽ ഈ പ്രദേശം
                    ഈശ്വരചൈതന്യത്താൽ പ്രശസ്തമായിരുന്നു. ഈശ്വരസാന്നിദ്ധ്യം കൊണ്ടും, കൈതനം കൊണ്ടും ഈശ്വര കടാക്ഷമോ
                    മഹാൻമാരാലും ഇവിടം ധന്വവും സമൃദ്ധവുമായിരുന്നു. കൂടാതെ കൊട്ടാരം വൈദ്യം താമസിച്ചിരുന്ന താഴത്തു വിതച്ച
                    മാസമായാലും കരകൗശല നൈപുണ്യം കൊണ്ടും, ശ്രീനാരായണ ഗുരുവിന്റെ ആഗമനം കൊണ്ടും ചരിത്ര
                    പ്രസിദ്ധമായിത്തീർന്നു. ഈ കൊട്ടാരത്തിൽ നിന്നും ലഭിച്ചതാണെന്ന വസ്തുകൊണ്ടു തന്നെ ഇവിടുത്തെ പ്രസക്തി
                    മനസ്സിലാക്കാവുന്നതാണ്. ഇന്നും ഈ പ്രദേശത്തിന്റെ യിയും സമൃദ്ധിയും നിലനിൽക്കുന്നതു തന്നെ ത്വവത്തായി
                    പഴമയുടെ തുടർച്ചയാണ്.</p>

                <P> പഴയകാലത്ത് ബ്രാഹ്മണർ ക്ഷേത്രം പരിപാലിച്ചിരുന്ന സമയം ദുർഗ്ഗാദേവി, മാടൻ തമ്പുരാൻ

                    11- ജാസ്താവ്, വിഷ്ണു ശിവൻ, തപതി സുബ്രഹ്മണ്യൻ എന്നിവരെ പൂജിച്ചു പോന്നു. എന്നാൽ

                    ക്ഷത്രിയരുടെ മേൽനോട്ടത്തിലായശേഷം അവർ കോളിനെയും പൂജിക്കുകയുണ്ടായി എന്നാൽ

                    അനേകവർഷങ്ങൾക്കുശേഷം കാലികമാണ് ക്ഷേത്രം ക്ഷയിക്കുകയും അതുകാരണം ചില

                    ജനിഷ്ടങ്ങൾ ബന്ധപ്പെട്ടവർക്ക് ഉണ്ടാവുകയും ചെയ്തു. ആയതിനാൽ 19 03 2005 ന് പ്രശസ്ത

                    ജാതീരാസ്ത്ര പിയോ പെരുമ്പഴുതൂർ ഗോപാലനാശാൻ, പാൽക്കുളങ്ങര പതിപോറ്റി

                    കൊഞ്ചി വാസു ആശാൻ എന്നിവരുടെ നേതൃത്വത്തിൽ അഷ്ടമംഗല ദേവപ്രശ്നം

                    നടത്തുകയുണ്ടായി. തുടർന്ന് ദേവപ്രശ്നവിധികളെല്ലാം പാലിച്ച് ശ്രീ ഇടവട്ടം ബാബു

                    അവർകളുടെ മേൽനോട്ടത്തിൽ മുർഗ്ഗാദേവിക്കും, കോളിവിക്കും തല കണക്കിലുള്ള

                    ശ്രീകോവിലും ഗണപതി, മാടൻ തമ്പുരാൻ, യക്ഷിയ നാഗദേവതകൾക്കും, ഉപസ്ഥാനങ്ങൾക്കു

                    നിർമിച്ച് (കൊല്ലവർഷം 1182 മീനമാസം 16-ാം തീയതി) 2007 മാർച്ച് മാസം 30. 16 തീയതി മകം

                    നക്ഷത്രത്തിൽ താന്ത്രിക വിധിപ്രകാരം തന്ത്രിമുഖ്യൻ ബ്രഹ്മശ്രീ നാരായണ പോറ്റി അവർകളുടെ

                    കാർമികത്വത്തിൽ പ്രതിഷ്ഠ നടത്തുകയുണ്ടായി.</P>
                <p>ക്ഷേത്രപുരോഗതിയ്ക്കായി ഓരോരുത്തരുടെയും നിർലോഭമായ സഹകരണമുണ്ടാകണമെന്നും വിനയത്തോടെ അഭ്യർത്ഥിക്കുന്നു.
                </p>


            </div>

        </div>




    </div>
</div>