img {
    height: 200px;
    width: 400px;
}
<<<<<<< HEAD

button {
    border-radius: 30px;
    width: 110px;
}


@media screen and (max-width: 426px) {
    img {
        height: 200px;
        width: 350px;
    }

}
=======
button{
  border-radius: 30px;
  width: 110px;
}




@media screen and (max-width: 576px) {
    img{
      height: 200px;
      width: 350px;
    }
    
  }
>>>>>>> a95d2ff53cf8766b60c709f5dd4d02b94b0cee33
