<div class="container mt-5">
    <div class="row">
        <div class="col">
            <img src="/assets/image/history of english.jpg" alt="">
            <h3>HISTORY OF THE TEMPLE</h3>
            <p>In Kanyakumari district vilavancode taluk on national highway, from Kaliyikavila to Kollankode about 5km
                will reach the Sankuruti Sri Krishna swami temple, from east of this junction after traveling of 1 km
                were the Piracode padmakulangara Sri Durga Bhadrakali Devasthanam is located. Here Goddess Durga and
                Goddess Bhadrakali are enshrined in the temple with equal importance. That is why the iratta Pongala
                festival is held here. The four sides of this temple are surrounded by water. It is surrounded by
                Padmakulam in the east, Erakulam in the south and north by Kavukulam and the water from here stream
                through the west.</p>

                <p>The temple was looked after by the Brahmins about 600 years ago and was looked after by the Kshatriyas
                for centuries. During those times, this area was famous for its divine spirit and the place was rich and
                prosperous with divine presence, spirit and divine wisdom. Also, the lower house where the king's
                Vaidyas lived, famous for its science and craftsmanship also blessed with arrival of Sri Narayana Guru.
                The relevance of this place can be understood by the facts that obtained from this palace. Even today
                the peace and prosperity of this region is a continuation of the vibrant past.</p>

                <p>In the olden days when the Brahmins maintained the temple, were Goddess Durga, Madan Tampuran, Shasta,
                Vishnu, Shiva, Ganapati and Subrahmanya were worshipped. But after coming under the supervision of the
                Kshatriyas, they also worshiped Bhadrakali. But after many years, the temple decayed and because of
                that, there was some displeasure among those concerned to the temple. Therefore, on 19-03-2005,
                Ashtamangala Devprasnam was conducted under the leadership of famous astrological scholars such as
                Perumbazhathur Gopalanashan, Palkulangara Ganapathipoti and Konchiravila Vasu Aashan. Then, following
                all the deva issues, under the supervision of Sri Edavattam Babu, Goddess Durga and Goddess Bhadrakali
                will be in the same shrine Ganapathi, Maadan Thampuran, Yakshiyamma and Naga's were built (1182-year
                1182 on 18th day of Pisces month) and on 30th day of March 2007 in Makam Nakshatra according to tantric
                ruling Tantrimukhya Brahmashree Narayanampoti performed the prathishta. The place is abundant with
                divine presence. It is humbly requested to maintain this comfort, brotherhood and prosperity among the
                people and for the unstinting cooperation of each and every one for the progress of the temple.</p>








           
            
        </div>



        <div class="col ">
            <img src="/assets/image/dhurga bhadrakali.jpg" alt="">
            <div class="history of temple">
                <h3>ക്ഷേത്രചരിത്രം</h3>
                <p>കന്യാകുമാരി ജില്ല വിളവംകോട് താലൂക്കിൽ കളിയിക്കാവിള നിന്നും കൊല്ലങ്കോട് പോകുന്ന ദേശീയപാതയിൽ ഏകദേശം 5
                    കിലോമീറ്റർ സഞ്ചരിക്കുമ്പോൾ ശങ്കുരുട്ടി ശ്രീകൃഷ്ണക്ഷേത്രം ഈ സ്ഥിതിചെയ്യുന്ന ജംഗ്ഷനിൽ നിന്നും കിഴക്ക്
                    ഭാഗത്തായി സ്ഥിതിചെയ്യുന്നതാണ് പിരാകോട് പത്മകുളങ്ങര ശ്രീ ദുർഗ്ഗാ ഭദ്രകാളി ദേവസ്ഥാനം. ഇവിടെ
                    ദുർഗ്ഗാദേവിയും, ഭദ്രകാളിദേവിയും തുല്യപ്രാധാന്യത്തോടുകൂടി ഒന്നുപോലുള്ള ഓരോ ക്ഷേത്രങ്ങളിൽ
                    കുടിയിരിക്കുന്നു. അതിനാലാണ് ഇവിടെ ഇരട്ടപൊങ്കാല മഹോത്സവം നടക്കുന്നത്. ഈ ക്ഷേത്രത്തിലെ നാല് വശവും
                    ജലാശയത്താൽ ചുറ്റപ്പെട്ടിരിക്കുന്നു. കിഴക്ക് ഭാഗം പത്മകുളവും, തെക്ക് ഭാഗം ഏറക്കുളവും, വടക്ക്
                    ഭാഗം പുരാതനമായ കാവിനോടു ചേർന്നുള്ള കാവുകുളവും പടിഞ്ഞാറ് ഭാഗം ജലം ഒഴുകി പോകുന്ന തോടിനാലും വലയം
                    ചെയ്തിരിക്കുന്നു.</p>

                <p>പ്രശസ്തരും, പണ്ഡിതരുമായ ബ്രാഹ്മണരാൽ ഏകദേശം 600 ൽപ്പരം വർഷങ്ങൾക്ക് മുമ്പ് പരിപാലിച്ചിരുന്ന ഈ ക്ഷേത്രം
                    നൂറ്റാണ്ടുകൾക്ക് ശേഷം ക്ഷത്രിയരാൽ പരിപാലിക്കപ്പെട്ടു വന്നു. ആ കാലഘട്ടങ്ങളിൽ ഈ പ്രദേശം
                    ഈശ്വരചൈതന്യത്താൽ പ്രശസ്തമായിരുന്നു ഈശ്വരസാന്നിദ്ധ്യം കൊണ്ടും, ചൈതന്യം കൊണ്ടും ഈശ്വര കടാക്ഷമേറ്റ
                    മഹാൻമാരാലും ഇവിടം ധന്യവും സമൃദ്ധവുമായിരുന്നു. കൂടാതെ കൊട്ടാരം വൈദ്യർ താമസിച്ചിരുന്ന താഴത്തു വീട്
                    തച്ച് ശാസ്ത്രത്താലും കരകൗശല നൈപുണ്യം കൊണ്ടും, ശ്രീനാരായണ ഗുരുവിന്റെ ആഗമനം കൊണ്ടും ചരിത്ര
                    പ്രസിദ്ധമായിത്തീർന്നു. ഈ കൊട്ടാരത്തിൽ നിന്നും ലഭിച്ചതാണെന്ന വസ്തുതകൊണ്ടു തന്നെ ഇവിടുത്തെ പ്രസക്തി
                    മനസ്സിലാക്കാവുന്നതാണ്. ഇന്നും ഈ പ്രദേശത്തിന്റെ ശാന്തിയും, സമൃദ്ധിയും നിലനിൽക്കുന്നതു തന്നെ
                    ചൈതന്യവത്തായ പഴമയുടെ തുടർച്ചയാണ്.</p>
                <p>പഴയകാലത്ത് ബ്രാഹ്മണർ ക്ഷേത്രം പരിപാലിച്ചിരുന്ന സമയം ദുർഗ്ഗാദേവി, മാടൻ തമ്പുരാൻ, ശാസ്താവ്, വിഷ്ണു,
                    ശിവൻ, ഗണപതി, സുബ്രഹ്മണ്യൻ എന്നിവരെ പൂജിച്ചു പോന്നു. എന്നാൽ ക്ഷത്രിയരുടെ മേൽനോട്ടത്തിലായശേഷം അവർ
                    ഭദ്രകാളിയെയും പൂജിക്കുകയുണ്ടായി. എന്നാൽ അനേകവർഷങ്ങൾക്കുശേഷം കാലക്രമേണ ക്ഷേത്രം ക്ഷയിക്കുകയും
                    അതുകാരണം ചില അനിഷ്ടങ്ങൾ ബന്ധപ്പെട്ടവർക്ക് ഉണ്ടാവുകയും ചെയ്തു. ആയതിനാൽ 19- 03- 2005 ന് പ്രശസ്ത
                    ജോതിശാസ്ത്ര പണ്ഡിതന്മാരയ പെരുമ്പഴുതൂർ ഗോപാലനാശാൻ, പാൽക്കുളങ്ങര ഗണപതിപോറ്റി, കൊഞ്ചിറവിള വാസു ആശാൻ
                    എന്നിവരുടെ നേതൃത്വത്തിൽ അഷ്ടമംഗല ദേവപ്രശ്നം നടത്തുകയുണ്ടായി. തുടർന്ന് ദേവപ്രശ്നവിധികളെല്ലാം പാലിച്ച്
                    ശ്രീ ഇടവട്ടം ബാബു അവർകളുടെ മേൽനോട്ടത്തിൽ ദുർഗ്ഗാദേവിക്കും, ഭദ്രകാളി ദേവിക്കും തുല്യ കണക്കിലുള്ള
                    ശ്രീകോവിലും ഗണപതി, മാടൻ തമ്പുരാൻ, യക്ഷിയമ്മ, നാഗദേവതകൾക്കും, ഉപസ്ഥാനങ്ങൾ നിർമ്മിച്ച് (കൊല്ലവർഷം
                    1182 മീനമാസം 18-ാം തിയതി) 2007 മാർച്ച് മാസം 30-ാം തിയതി മകം നക്ഷത്രത്തിൽ താന്ത്രിക വിധിപ്രകാരം
                    തന്ത്രിമുഖ്യൻ ബ്രഹ്മശ്രീ നാരായണംപോറ്റി അവർകളുടെ മുഖ്യകാർമ്മികത്വത്തിൽ പ്രതിഷ്ഠ നടത്തുകയുണ്ടായി.
                    ദേവസാന്നിദ്ധ്യം കൊണ്ട് ഇവിടം സമൃദ്ധമാണ്. ജനങ്ങളിലെ ഈ സുഖവും സാഹോദര്യവും ഐശ്വര്യവും നിലനിർത്തുവാനും
                    ക്ഷേത്രപുരോഗതിയ്ക്കായി ഓരോരുത്തരുടെയും നിർലോഭമായ സഹകരണമുണ്ടാകണമെന്നും വിനയത്തോടെ അദ്യർത്ഥിക്കുന്നു
                </p>


            </div>

        </div>




    </div>
</div>