<div class="container-fluid bg-info">
    <div class="row ">
        <div class="col">
            <marquee width="100%"  direction="left" >
                സമൂഹ ഇരട്ട പൊങ്കാല മഹോത്സവം 31/03/2023 &nbsp; - &nbsp; 02/04/2023
               
                
            </marquee>
            <marquee width="100%"  direction="right" >
                சமூக இரட்டை பொங்கல் திருவிழா 31/03/2023 &nbsp;  -  &nbsp; 02/04/2023
                
            </marquee>

           
        </div>


    </div>
</div>