h1 {
    font-family: fantasy;



}

img {
    height: 200px;
    width: 286px;
}

li {
    text-align: justify;
}
button{
    border-radius: 30px;
    width: 110px;
  }

  h6{
    font-size: medium;
  }

button {
    border-radius: 30px;
    width: 110px;
}

@media screen and (max-width: 768px) {
    .card {
<<<<<<< HEAD
        margin-right: 80px;
=======
       margin-right: 40px;
>>>>>>> a95d2ff53cf8766b60c709f5dd4d02b94b0cee33
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.25rem;
    }

}