h1 {
    font-family: fantasy;



}

img {
    height: 200px;
    width: 286px;
}

li {
    text-align: justify;
}
button{
    border-radius: 30px;
    width: 110px;
  }








@media screen and (max-width: 768px) {
    .card {
       margin-right: 80px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.25rem;
    }

}