<div class="container-fluid text-center bg-light mt-4">
    <div class="row">
        <div class="col">
            <h1>Festivals</h1>
            <h2> IRATTA PONGALA MAHOTSAVAM</h2>

            <p>പരമപവിത്രമായതും പ്രപഞ്ചത്തിന് നിത്യ ചൈതന്യവും നാടിന് ഐശ്വര്യവും. ഈ പ്രദാനം ചെയ്യുന്നതുമായ പിരാകോട്
                പത്മകുളങ്ങര ശ്രീ ദുർഗ്ഗാദേവി ശ്രീ ഭദ്രകാളി ദേവി ക്ഷേത്രത്തിലെ 1198 മാണ് മീനമാസത്തിലെ മകം നക്ഷത്രത്തിൽ
                സമൂഹ ഇരട്ടപൊങ്കാല മഹോത്സവം
                നടക്കുന്നു</p>



            <p>The most sacred, the eternal spirit for the universe and the prosperity of the country. This is the
                1198th day of Padmakulangara Sree Durgadevi Sri Bhadrakali Devi Temple, Pirakkode, the community's
                double pongal mahotsava on the Makam star in the month of Meena.</p>


        </div>
    </div>
    <div class="row p-5 ">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/image/pommmmm.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Iratta Pongala</h5>
                    <p class="card-text">'Pongala' is the most important festival of Sree dhurga bhdhrakali Temple.</p>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/image/hpmam cam.JPG" class="card-img-top" alt="...">
                <div class="card-body3">
                    <h5 class="card-title">Ganapathi Homam</h5>
                    <p class="card-text">The temple will be opened in the morning and evening for the Pournami puja.
                        Ganapathi Homam in the morning
                        .</p>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/image/naga.JPG" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ayilla Pooja</h5>
                    <p class="card-text">Ayilya Pooja and Pournami pooja are performed in the temple every month.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row p-5  ">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/image/try.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Onam festival</h5>
                    <p class="card-text">Onam is the biggest and the most important festival of the state of Kerala.
                    </p>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/image/book.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pooja festival</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/image/vidhyanew.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> Vidyarambham</h5>
                    <p class="card-text">Keralites and other South Indians celebrate Vidyarambham on Vijayadasami
                        Navarathri festival. </p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>This is a rare temple where the Vaishnava goddess Sree Durga and the Saiva goddess Sree Kali are equally
                important.</p>

            <p>വൈഷ്ണവ ദേവിയായ ശ്രീ ദുർഗ്ഗയും ശൈവദേവിയായ ശ്രീ കാളിയും തുല പ്രാധാന്യത്തോടുകൂടിയ അപൂർവ്വ ക്ഷേത്രമാണിത്</p>
        </div>
    </div>
    <div class="row text-center " >  
        <div class="col">
            <p>page</p> 
            <button (click)="getAbout()" class="bg-primary mb-4">Next</button>
        </div>
    </div>
</div>