<<<<<<< HEAD
img {
  height: 400px;
  width: 500px;
}

button {
=======
img{
    height: 400px;
    width: 500px;
}
button{
>>>>>>> a95d2ff53cf8766b60c709f5dd4d02b94b0cee33
  border-radius: 30px;
  width: 110px;
}

<<<<<<< HEAD
@media screen and (max-width: 576px) {
  img {
    height: 250px;
    width: 330px;
  }
}
=======






@media screen and (max-width: 576px) {
    img{
      height: 250px;
      width: 330px;
    }
  }

>>>>>>> a95d2ff53cf8766b60c709f5dd4d02b94b0cee33
