<div class="container-fluid text-center mt-4  bg-light">
    <div class="row ">
        <div class="col">
            <h1 style="font-family: fantasy;">SAMUHA IRATTA PONGALA MAHOTSAVAM</h1>
        </div>

    </div>
    <div class="row p-2 g-3">
        <div class="col">
            <img src="/assets/image/edit pongal.jpg" alt="">
        </div>
        <div class="col">
            <img src="/assets/image/pogala cam pic1.JPG" alt="">
        </div>
    </div>

    <div class="row p-3">
        <div class="col">
            <h6>Event date: 02-04-2023</h6>
            <h6>Venue: <b>Durga Bhadrakali Temple(Piracode)</b> </h6>
            <p>The most sacred, the eternal spirit for the universe and the prosperity of the country. This is the
                1198th day of Padmakulangara Sree Durgadevi Sri Bhadrakali Devi Temple, Pirakkode, the community's
                double pongal mahotsava on the Makam star in the month of Meena.</p>



            <p>പരമപവിത്രമായതും പ്രപഞ്ചത്തിന് നിത്യ ചൈതന്യവും നാടിന് ഐശ്വര്യവും. ഈ പ്രദാനം ചെയ്യുന്നതുമായ പിരാകോട്
                പത്മകുളങ്ങര ശ്രീ ദുർഗ്ഗാദേവി ശ്രീ ഭദ്രകാളി ദേവി ക്ഷേത്രത്തിലെ 1198 മാണ് മീനമാസത്തിലെ മകം നക്ഷത്രത്തിൽ
                സമൂഹ ഇരട്ടപൊങ്കാല മഹോത്സവം
                നടക്കുന്നു</p>





        </div>
    </div>
    <div class="row text-center ">
        <div class="col">
            <p>page</p> 
            <button (click)="getFestival()"  class="bg-primary mb-4">Next</button>
        </div>
    </div>



</div>