<nav class="navbar navbar-expand-lg navbar-light bg-warning ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLinkk="">
            <h6><b>Sree Durga Bhadrakali Devasthanam</b></h6>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link active" routerLink="" routerLinkActie="actie-link"
                        routerLinkActiveOptions="{extract:true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="menu" routerLinkActie="actie-link">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="pongala" routerLinkActie="actie-link">Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="festival" routerLinkActie="actie-link">Festival</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about" routerLinkActie="actie-link">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="gallery" routerLinkActie="actie-link">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="activies" routerLinkActie="actie-link">Activities</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="contact" routerLinkActie="actie-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="https://maps.app.goo.gl/sZJ8ZuzHf42gmqe46"><i
                            class="fa-solid fa-location-dot  text-danger fa-2x mt-1"></i></a>
                </li>
            </ul>

        </div>
    </div>
</nav>