.container-fulid {
  background-image: url(/assets/image/temp\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}


img{
  height: 100px;
  width: 100px;
  margin-top: 50px;
  margin-left: 50px;
}

@media screen and (max-width: 576px) {
  .container-fulid {
      background-image: url(/assets/image/mobile\ bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 500px
      
      
  }

  img{
      height: 100px;
      width: 100px;
      margin-top: 30px;
      margin-right: 60px;
      
  }

  

}