<section>
    <div class="container-fulid text-center text-info  w-100 bg-light ">
        <div class="row">
          <div class="col mt-3  ">
            <div class="mainhead">
              <h4><b>ശ്രീ ദുർഗ്ഗാ ശ്രീ ഭദ്രകാളി ദേവസ്ഥാനം</b> </h4>
              
              
            </div>
            
          </div>
        <div class="row">
          <div class="col p-5 ms-5">
            <h3><b> സമൂഹ ഇരട്ടപൊങ്കാല</b></h3>
            <h3><b> മഹോത്സവം</b></h3>
          </div>
        </div>
        
       
          
          
        </div>
       
    </div>   
    
</section>