<div class="container-fluid text-center bg-dark">
  <div class="row">
    <div class="col">


    </div>
    <div class="col mt-3">
      <div class="text-white">
        <p> Sree Durga Bhadrakali Devasthanam
          Piracode Padmakulangara Adaikkakuzhi (p.o)</p>
        <h6>Reg.No-52/2015</h6>
        <p>Contact:-9600500325</p>

      </div>
    </div>
    <div class="col">
      <a href="https://www.facebook.com/profile.php?id=100068383413310&mibextid=ZbWKwL"><i
          class="fa-brands fa-facebook text-primary fa-3x mt-5 p-3"></i></a>
          <a href=""><i class="fa-brands fa-whatsapp text-success fa-3x mt-5 p-3 "></i></a>
          <a href=""><i class="fa-brands fa-instagram text-white fa-3x mt-5  p-3"></i></a>
      
          <a href="https://maps.app.goo.gl/sZJ8ZuzHf42gmqe46"><i class="fa-solid fa-location-pin fa-3x p-3"></i></a>
    </div>

  </div>
  <div class="row">
    <div class="col">

      <h6 class="text-white">
        Copyright © 2023, Sree dhurga Bhadrakali temple. All Rights Reserved.</h6>
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      <a href="https://instagram.com/moon____maker_____?igshid=YmMyMTA2M2Y=">
        <p>Developed by:-Vishnu Choozhal</p>
      </a>
    </div>
  </div>
</div>