.container-fluid{
    background-color: black;
}



@media screen and (max-width: 576px) {
    .foot-icon{
        display: flex;
        margin: auto;
        padding: 20px;
        
       
        
    }
    

     
    }